[submodule "pack/submodules/start/delimitMate"]
	path = pack/submodules/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/submodules/start/editorconfig-vim"]
	path = pack/submodules/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/submodules/start/vim-sensible"]
	path = pack/submodules/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/submodules/start/vim-speeddating"]
	path = pack/submodules/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/submodules/start/sieve.vim"]
	path = pack/submodules/start/sieve.vim
	url = https://github.com/vim-scripts/sieve.vim
[submodule "pack/submodules/start/vim-surround"]
	path = pack/submodules/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/submodules/start/vim-repeat"]
	path = pack/submodules/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/submodules/start/vim-dispatch"]
	path = pack/submodules/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/submodules/start/vim-commentary"]
	path = pack/submodules/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/submodules/start/vim-lsp"]
	path = pack/submodules/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/submodules/start/vim-lsp-settings"]
	path = pack/submodules/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "pack/submodules/start/asyncomplete.vim"]
	path = pack/submodules/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/submodules/start/asyncomplete-lsp.vim"]
	path = pack/submodules/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/submodules/start/rust.vim"]
	path = pack/submodules/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/submodules/start/vim-markdown"]
	path = pack/submodules/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/submodules/start/vim-toml"]
	path = pack/submodules/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "pack/submodules/opt/vim-solarized8"]
	path = pack/submodules/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/submodules/start/ctrlp.vim"]
	path = pack/submodules/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/submodules/start/lightline.vim"]
	path = pack/submodules/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/submodules/start/vim-fugitive"]
	path = pack/submodules/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/submodules/start/ale"]
	path = pack/submodules/start/ale
	url = https://github.com/dense-analysis/ale.git
